<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edycja gry</title>
</head>
<body>
    <h2>Edycja gry</h2>
    <script src="/scripts/gameValidate.js"></script>
    <form method="POST" id="gameForm" action="/edit">
        <%- include("gameForm.ejs") %>
        <input type="hidden" name="id" value="<%= game.id %>">
    </form>
    <h4>Dotychczasowe dane</h4>
    Tytuł: <%= game.title %><br>
    Cena: <%= game.price %> zł<br>
    Opis: <%= game.description %>
</body>
</html>