<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły zamówienia</title>
</head>
<body>
    <h3>Zamówienie nr <%= order.id %></h3>
    Złożono: <%= order.createdAt.toLocaleString("pl-PL") %><br>
    Zamawiający: <%= order.user.username %>
    <h4>Zamówione gry:</h4>
    <% for(game of order.games) { %>
        <b><%= game.title %></b>:
        <%= (game.price / 100).toFixed(2) %> zł * <%= game.count %> = <%= game.total.toFixed(2) %> zł<br>
    <% } %>
    <b>Suma</b>: <%= order.total.toFixed(2) %> zł<br><br>
    <a href="javascript:history.back()">Wróć</a>
</body>
</html>